@import 'variables';
@import 'fonts';

.contact-section {
  position: relative;
  background-color: $grey;
  padding: 15px;

  .contact-map {
    flex: 3;
  }

  .map {
    width: 100%;
    height: auto;
  }

  .contact-info {
    flex: 1;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 30px 0 30px 0;

    &-header {
      text-transform: uppercase;
    }

    .email, .email-link, .phone, .phone-link {
      color: $burgundy;
      text-decoration: none;
    }

    .email:before {
      content: '\02709';
      padding: 2px 6px 2px 2px;
    }

    .phone:before {
      content: '\0260E';
      padding: 2px 6px 2px 2px;
    }
  }
}