@import 'variables';
@import 'fonts';

.footer {
  position: absolute;
  background-color: $dark-blue;
  width: 100%;

  &-info {
    padding-top: 20px;
    text-align: center;

    > p {
      font-family: Montserrat, sans-serif;
      color: $white;

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }

  .social-icons {
    width: 345px;
    margin: 0 auto;

    li {
      display: inline-block;
      list-style-type: none;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px;
      }
    }
  }
}