@import 'variables';
@import 'fonts';

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $white;

  .project {
    display: inline-flex;
    position: relative;

    &-image {
      width: 300px;
      height: 300px;
      margin: 5px;
      cursor: pointer;
      filter: brightness(50%);

      &:hover {
        filter: brightness(100%);
      }
    }

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 120%;
      color: $white;
      text-transform: uppercase;
      user-select: none;
    }
  }
}

.modal-window {
  position: fixed;
  background: rgba($black, 0.6);
  display: none;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  &-inner {
    position: relative;
    background-color: $silver;
    width: 51.5%;
    padding: 15px;

    .close-window {
      position: absolute;
      cursor: pointer;
      top: 1px;
      right: 0;
      background: none;
      border: 0;
      outline: none;
    }

    .modal-window-image {
      width: 100%;
    }
  }
}

.open-modal-window {
  display: flex;
  align-items: center;
  justify-content: center;
}