@import 'variables';

@media only screen and (max-width: 1006px) {
  .hamburger-menu {
    display: block;
    float: right;
    margin: 0 35px 0 0;
    font-size: 30px;
    line-height: 65px;
    cursor: pointer;
  }

  #hamburger-menu:checked + .menu {
    display: block;
  }

  .menu, .logo {
    display: none;
  }

  .menu {
    position: relative;

    &-main {
      float: none;

      .dropdown-menu {
        position: static;
        box-shadow: none;
        padding: 0;
        margin: 0 -14px 0 -14px;

        li {
          text-align: center;

          &:not(:last-child) {
            border-bottom: 1px solid $light-grey;
            border-top: 1px solid $light-grey;
          }
        }
      }

      > li {
        display: block;
        border-bottom: 1px solid $light-grey;
        width: 91%;
        text-align: center;

        &:not(:last-child) {
          border-right: none;
        }
      }
    }
  }

  .slider-images .images > article > img {
    width: 100%;
    max-height: 100vh;
  }

  .slider-previous-next-label {
    margin: -36% 0 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .menu-main {
    padding-right: 20px;
  }

  .slider-previous-next-label {
    margin: -40% 0 0 0;
  }
}

@media only screen and (min-width: 640px) {
  .contact-map-info-wrapper {
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .menu-main {
    padding-right: 30px;
  }

  .slider-previous-next-label {
    margin: -52% 0 0 0;
  }

  .service-title, .service-description {
    font-size: 80%;
  }

  .footer .social-icons {
    width: 300px;
    margin: 0 auto;

    li img {
      margin: 0;
    }
  }

  .close-window {
    margin-right: -2px;
  }
}