@import 'variables';
@import 'fonts';

.logo {
  position: fixed;
  z-index: 1;
  top: 9px;
  left: 32px;

  &-icon {
    height: 27px;
    width: 90px;
  }
}

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 8px 6px -6px $black;
  z-index: 1;

  &-main {
    float: right;

    li:hover ul {
      display: block;
    }

    > li {
      list-style-type: none;
      display: inline;
      float: left;
      padding: 0 15px;
      font-family: Montserrat, sans-serif;

      &:not(:last-child) {
        border-right: 1px solid $black;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $black;

        &:hover {
          color: $burgundy;
        }
      }

      > a {
        padding: 10px;
        line-height: 30px;
      }
    }
  }
}

.dropdown-menu {
  z-index: 1;
  position: absolute;
  display: none;
  background-color: $white;
  padding: 0 17px;
  margin: 0 0 0 -94px;
  box-shadow: 0 8px 14px -6px $black;

  > li {
    list-style-type: none;
    text-align: right;

    > a {
      line-height: 35px;
      padding: 10px;
    }
  }
}

.hamburger-menu, #hamburger-menu {
  display: none;
}