@import 'fonts';
@import 'variables';
@import 'menu';
@import 'slider';
@import 'our-products';
@import 'services';
@import 'gallery';
@import 'search';
@import 'filter';
@import 'pagination';
@import 'clients';
@import 'contact';
@import 'contact-form';
@import 'footer';
@import 'media-queries';

body {
  margin: 0;
}

.content {
  display: none;
}

.active {
  display: block;
}