@import 'fonts';
@import 'variables';
@import 'menu';
@import 'slider';
@import 'footer';
@import 'media-queries';
@import 'gallery';
@import 'search';
@import 'filter';
@import 'pagination';

body {
  margin: 0;
}

.content {
  display: none;
}

.active {
  display: block;
}