$white: #ffffff;
$black: #000000;
$very-dark-grey: rgba(20, 20, 20, 0.2);
$light-burgundy: #9b4049;
$burgundy: #800020;
$silver: #c0c0c0;
$light-grey: #eaeaeb;
$grey: #a9a9a9;
$dark-grey: rgba(139, 139, 139, 0.3);
$blue-lagoon: #5c979d;
$desaturated-dark-blue: #5e7783;
$dark-blue: #2d343c;
$cyan: #005c67;
$strong-cyan: #0AB4B4;
$dark-cyan: #004f58;
$dark-desaturated-cyan: #173434;
$breaker-bay: #537A77;
$green: #376857;