$white: #ffffff;
$black: #000000;
$light-burgundy: #9b4049;
$burgundy: #800020;
$silver: #c0c0c0;
$light-grey: #eaeaeb;
$grey: #a9a9a9;
$dark-grey: rgba(139, 139, 139, 0.3);
$blue-lagoon: #5c979d;
$dark-blue: #2d343c;
$cyan: #005c67;
$dark-cyan: #004f58;